## PYTHON VARIABLES AND LITERALS: Assigning values

In [1]:
x='hello'
y=1
z=12.3
print(x,y,z)

hello 1 12.3

### TYPE CONVERSION: 
## Implicit Conversion -automatic type conversion 
<br> Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.<br> Python avoids the loss of data in Implicit Type Conversion.

In [3]:
int_num=12
flt_num=12.34
new_num=int_num + flt_num
print("Value:",new_num)
print("Datatype: ",type(new_num))

Value: 24.34
Datatype:  <class 'float'>

### Explicit Conversion - manual type conversion
<br> This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

In [4]:
num_strg='12'
num_int=12
print("type before typecasting",type(num_strg))
num_strg=int(num_strg)
print("type after typecasting",type(num_strg))

type before typecasting <class 'str'>
type after typecasting <class 'int'>

## PYTHON BASIC INPUT AND OUTPUT

In [6]:
x=23
y=32
sum=x+y
print("the value of x is {} and y is {} ".format(x,y))
print("the sum is {}".format(sum))

the value of x is 23 and y is 32
the sum is 55

In [7]:
name=str(input("Enter your name: "))
age=int(input("Enter your age: "))
print("Your name is {}.".format(name))
print("Your age is {}.".format(age))

Enter your name:  sree
Enter your age:  22

Your name is sree.
Your age is 22.

## ARITHMETIC OPERATORS IN PYTHON

In [9]:
a= float(input("enter a number: "))
b= float(input("enter another number: "))
print("the numbers are: {} ,{} ".format(a,b))
print("addition is ",a+b)
print("subtraction is ",a-b)
print("multiplication is ",a*b)
print("division is ",a/b)
print ("Floor Division is", a // b)
print ("Modulo: ", a % b)  
print ("Power: ", a ** b)

enter a number:  100.50
enter another number:  5.10

the numbers are: 100.5 ,5.1
addition is  105.6
subtraction is  95.4
multiplication is  512.55
division is  19.705882352941178
Floor Division is 19.0
Modulo:  3.6000000000000068
Power:  16257243662.507154

## ASSIGNMENT OPERATORS IN PYTHON : Assignment operators are used to assign values to variables.
<br> 
=	Assignment Operato reg:	a = 7<br> 
+=	Addition Assignmt enegt	a += 1 # a = a + <br> 1
-=	Subtraction Assientgnm ent	a -= 3 # a = a -<br>  3
*=	Multiplication Asmentsign ent	a *= 4 # a = a <br> * 4
/=	Division Ament ssi ment	a /= 3 # a = a<br>  / 3
%=	Remaindegnmentr Assnment	a %= 10 # a = a<br>  %  0
**=	Exponegnment nt  gnment	a **= 10 # a = a ** 10

In [11]:
a=5
b=10
a+=b
print(a)

15

## COMPARISON OPERATORS IN PYTHON: 
<br> Comparison operators compare two values/variables and return a boolean result: True or False True

 ==	Is Equal To	eg:3 == 5 gives us False
 !=	Not Equal To eg:3 != 5 gives us True
 >	Greater Than eg:3 > 5 gives us False
 <	Less Than eg:3 < 5 gives us True
>=	Greater Than or Equal to eg: 3 >= 5 give us False
 <=	Less Than or Equal to eg:3 <= 5 gives us True

In [12]:
a=int(input("enter a number: "))
b=int(input("enter another number: "))
print("a==b: ",a==b)
print("a!=b: ",a!=b)
print("a>b: ",a>b)
print("a<b: ",a<b)
print("a<=b: ",a<=b)
print("a>=b: ",a>=b)

enter a number:  10
enter another number:  5

a==b:  False
a!=b:  True
a>b:  True
a<b:  False
a<=b:  False
a>=b:  True

### LOGICAL OPERATORS IN PYTHON: 
Logical operators are used to check whether an expression is True or False. 
<br> They are used in decision-makingrsa.

In [14]:
print(True and False)
print(True and True)
print(False or True)
print(False or False)
print(not True)

False
True
True
False
False

## BITWISE OPERATORS IN PYTHON: 
Bitwise operators act on operands as if they were strings of binary digits. They operate bit by bit, hence the name.


For example, 2 is 10 in binary, and 7 is 11.ow: Let x = 10 (0000 1010 in binary) and y = 4 (0000 0100 in bin

&	Bitwise AND	eg: x & y = 0 (0000 0000)
|	Bitwise OReg: 	x | y = 14 (0000 1110)
~	Bitwise NOeg: T	~x = -11 (1111 0101)
^	Bitwise Xeg: OR	x ^ y = 14 (0000 1110)
>>	Bitwise right sheg: ift	x >> 2 = 2 (0000 0010)
<<	Bitwise left seg: hift	x 0010 1000)ary)

## IDENTITY OPERATORS: SPECIAL TYPE OF OPERATORS IN PYTHON
In Python, is and is not are used to check if two values are located at the same memory location.mple->ue

In [15]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

#Here, we see that x1 and y1 are integers of the same values, so they are equal as well as identical. The same is the case with x2 and y2 (strings). 
#But x3 and y3 are lists. They are equal but not identical. 
#It is because the interpreter locates them separately in memory, although they are equal.
print(x1 is not y1) 
print(x2 is y2) 
print(x3 is y3)

False
True
False

## MEMBERSHIP OPERATORS: SPECIAL TYPE OF OPERATORS IN PYTHON
In Python, in and not in are the membership operators. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).<br>
In a dictionary, we can only test for the presence of a key, not the valln x

In [16]:
message = 'Hello world'
dict1 = {1:'a', 2:'b'}
print('H' in message)  
print('hello' not in message) 
print(1 in dict1) 
print('a' in dict1)

True
True
True
False