# PYTHON LIST
## lists are: ordered, mutable, written in square bracket, allow duplicate values

In [21]:
ages = [19, 26, 29, 26]
print(ages)

[19, 26, 29, 26]

### Access Elements Using Index

In [4]:
languages = ['Python', 'Swift', 'C++']

print(languages[0])  
print(languages[2])  
print(languages[-1])  
print(languages[-2])

Python
C++
C++
Swift

### slicing of list

In [5]:
my_list = ['p', 'r', 'o', 'g', 'r', 'a', 'm']

print(my_list[2:5])
print(my_list[5:])
print(my_list[:])

['o', 'g', 'r']
['a', 'm']
['p', 'r', 'o', 'g', 'r', 'a', 'm']

### Add Elements to a Python List: append()

In [6]:
fruits = ['apple', 'banana', 'orange']
print('Original List:', fruits)
fruits.append('cherry')
print('Updated List:', fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'orange', 'cherry']

### Add Elements at the Specified Index: insert()

In [7]:
fruits = ['apple', 'banana', 'orange']
print("Original List:", fruits) 

fruits.insert(2, 'cherry')

print("Updated List:", fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'cherry', 'orange']

### Add Elements to a List From Other Iterables: extend()

In [8]:
numbers = [1, 3, 5]
print('Numbers:', numbers)

even_numbers  = [2, 4, 6]

numbers.extend(even_numbers)
print('Updated Numbers:', numbers)

Numbers: [1, 3, 5]
Updated Numbers: [1, 3, 5, 2, 4, 6]

### Change List Items (using index)

In [9]:
colors = ['Red', 'Black', 'Green']
print('Original List:', colors)

colors[2] = 'Blue'
print('Updated List:', colors)

Original List: ['Red', 'Black', 'Green']
Updated List: ['Red', 'Black', 'Blue']

### Remove an Item From a List: remove()

In [10]:
numbers = [2,4,7,9]

numbers.remove(4)
print(numbers)

[2, 7, 9]

### Remove One or More Elements of a List: del

In [16]:
names = ['John', 'Eva', 'Laura', 'Nick', 'Jack']

del names[0]
print(names)

del names[2:5]
print(names) 

del names #to del entire list

['Eva', 'Laura', 'Nick', 'Jack']
['Eva', 'Laura']

### Python List Length: len()

In [17]:
cars = ['BMW', 'Mercedes', 'Tesla']

print('Total Elements: ', len(cars))

Total Elements:  3

### iterate through the list using loop

In [18]:
fruits = ['apple', 'banana', 'orange']

for fruit in fruits:
    print(fruit)

apple
banana
orange

append()	Adds an item to the end of the list
extend()	Adds items of lists and other iterables to the end of the list
insert()	Inserts an item at the specified index
remove()	Removes item present at the given index
pop()	Returns and removes item present at the given index
clear()	Removes all items from the list
index()	Returns the index of the first matched item
count()	Returns the count of the specified item in the list
sort()	Sorts the list in ascending/descending order
reverse()	Reverses the item of the list
copy()	Returns the shallow copy of the list

In [19]:
# create a list with square values
numbers = [n**2 for n in range(1, 6)]
print(numbers)

[1, 4, 9, 16, 25]

### check if an item exists in python list

In [20]:
fruits = ['apple', 'cherry', 'banana']

print('orange' in fruits)    
print('cherry' in fruits)

False
True