# Sets in Python
**Unordered collections
<BR>Created using curly braces {} or the set() function
<BR>immutable
<BR>cannot contain duplicate elements**

In [75]:
fruits = {'apple', 'banana', 'cherry'}
numbers = set([1, 2, 3, 4, 5])
empty_set = set()

print(fruits)
print(numbers)
print(empty_set)

print(set([1,3,3,5,6,6]))

print(type({})) #dict
print(type(set()))

{'apple', 'banana', 'cherry'}
{1, 2, 3, 4, 5}
set()
{1, 3, 5, 6}
<class 'dict'>
<class 'set'>

## Set Operations

Add elements: **add() method**

In [22]:
colors = {'red', 'green'}
colors.add('blue')
print(colors)

{'red', 'blue', 'green'}

Update with multiple elements: **update() method**

In [24]:
colors = {'red', 'green'}
colors.update(['blue', 'yellow'])
print(colors)

{'red', 'yellow', 'blue', 'green'}

Remove elements: **discard() or remove() methods**

In [26]:
numbers = {1, 2, 3, 4, 5}
numbers.discard(3)
print(numbers)  

numbers.remove(2)
print(numbers)  

# numbers.remove(10)  # This would raise a KeyError
numbers.discard(10)  # This doesn't raise an error

{1, 2, 4, 5}
{1, 4, 5}

Union: | operator or **union() method**

In [28]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(set1 | set2) 
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

Intersection: & operator or **intersection() method**

In [30]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(set1 & set2)  
print(set1.intersection(set2))

{3, 4}
{3, 4}

Difference: - operator or **difference() method**
<br>Both the - operator and the difference() method return a new set containing the elements that are in the first set but not in the second set.

In [32]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(set1 - set2)  
print(set1.difference(set2))

{1, 2}
{1, 2}

Symmetric Difference: ^ operator or **symmetric_difference() method**
<br>Both the ^ operator and the symmetric_difference() method return a new set containing elements that are in either of the sets, but not in both.

In [34]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(set1 ^ set2) 
print(set1.symmetric_difference(set2))

{1, 2, 5, 6}
{1, 2, 5, 6}

### Other Set Features:

**sets don't support indexing (as sets are unordered)**

In [79]:
a = {'h','a','l','o'}
# print(a[2]) #error

# Instead, you can convert to a list for indexing
a = list(a)
print(a[0])

a

**Mutable only after creation by adding and removing elements**

In [82]:
colors = {'red', 'blue', 'green'}
print(colors)

colors.add('yellow')
print(colors)

colors.remove('blue')
print(colors)

{'red', 'blue', 'green'}
{'red', 'yellow', 'blue', 'green'}
{'red', 'yellow', 'green'}

**removing duplicates from the list**

In [86]:
list_1 = [1, 2, 2, 3, 4, 4, 5, 5, 5]
list_2 = list(set(list_1))
print("Original list:", list_1)
print("List with duplicates removed:", list_2)

Original list: [1, 2, 2, 3, 4, 4, 5, 5, 5]
List with duplicates removed: [1, 2, 3, 4, 5]

**Checking membership**

In [37]:
numbers = {1, 2, 3, 4, 5}
print(3 in numbers) 
print(6 in numbers)

True
False

**Finding length of a set**

In [43]:
numbers = {1, 2, 3, 4, 5}
print(len(numbers))

5

**Clearing a set**

In [46]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

**Copying a set**

In [49]:
original = {1, 2, 3}
copy = original.copy()
print(copy)

{1, 2, 3}

**all() function:**
to check conditions across all elements in a set

In [90]:
numbers = {2, 4, 6, 8, 10}
all_even = all(i % 2 == 0 for i in numbers) #even or not
print(all_even) 

numbers = {1, 2, 3, -4, 5}
all_positive = all(i > 0 for i in numbers) #+ve no. or not
print(all_positive)

True
False

**any() function:**
to check if at least one element in a set meets a condition.

In [93]:
numbers = {1, 3, 5, 7, 8}
has_even = any(i % 2 == 0 for i in numbers) #even
print(has_even) 

words = {'apple', 'banana', 'cherry'}
starts_with_a = any(i.startswith('a') for i in words) #any string in the set starts with 'a'
print(starts_with_a)

True
True

**enumerate() function:**
to pair each element in a set with an index, which can be useful for creating numbered lists or performing indexed operations, even though sets themselves are unordered.

In [106]:
fruits = {'apple', 'banana', 'cherry', 'date'}
for index, i in enumerate(fruits):
    print(f"{index}: {i}")

0: date
1: banana
2: apple
3: cherry

In [158]:
scores = {85, 92, 78, 95, 88}
average_score = sum(scores) / len(scores)

for index, i in enumerate(scores):
    if i >= average_score:
        print(f"Student{index}:{i}")

Student1:88
Student2:92
Student4:95

**Check if two sets are equal**

In [161]:
A = {1, 3, 5}
B = {3, 5, 1}

if A == B:
    print('Set A and Set B are equal')
else:
    print('Set A and Set B are not equal')

Set A and Set B are equal

**Checking subsets and supersets**
<br>A set is considered a subset if all of its elements are also in the other set.
<br>A set is considered a superset if it contains all the elements of the other set.

In [165]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
print(set1.issubset(set2))  
print(set2.issuperset(set1))

True
True

**Checking for disjoint sets**
<br>Two sets are considered disjoint if they have no elements in common.

In [168]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(set1.isdisjoint(set2))

True

**Popping an element**

In [58]:
numbers = {1, 2, 3, 4, 5}
popped = numbers.pop()
print(popped)  # A random element (e.g., 1)
print(numbers)  # The set without the popped element

1
{2, 3, 4, 5}

**create a new set from an existing set**

In [181]:
set1={i for i in range(10)}
print(set1)
squares = {i**2 for i in set1}
print(squares)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [183]:
# Using enumerate with set comprehension
numbered_fruits = {f"Fruit {index}: {fruit}" for index, fruit in enumerate(fruits, start=1)}
print(numbered_fruits)

{'Fruit 4: cherry', 'Fruit 3: apple', 'Fruit 2: banana', 'Fruit 1: date'}