# Python CSV: Read and Write CSV Files

A CSV file, short for Comma Separated Values, is a simple way to store data in a table format. It's like a spreadsheet, but instead of using a program like Excel, you can store the data in a plain text file with a .csv extension.

**Example of CSV file**

SN, Name,    City
1,  Nandana, Malapuram
2,  Sree,    Thiruvanathapuram

 **PANDAS**

Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [20]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

**Read CSV Files with Python**

In [16]:
import csv

with open('people.csv', 'r') as file: #to read the file
    reader = csv.reader(file)

    for row in reader:
        print(row)

['Name', '   Age', ' Profession']
['Jack', '   23', '  Doctor']
['Miller', ' 22', '  Engineer']

In [1]:
import pandas as pd
pd.read_csv("people.csv")

     Name     Age  Profession
0    Jack      23      Doctor
1  Miller      22    Engineer

**Write to CSV Files with Python**

In [11]:
import csv
with open('people.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Age", "Profession"])
    writer.writerow(["Sree", "22", "Pilot"])

In [13]:
import pandas as pd
pd.read_csv("people.csv")

   Name  Age Profession
0  Sree   22      Pilot

In [15]:
import pandas as pd

# creating a data frame
df = pd.DataFrame([['Jack', 24], ['Rose', 22]], columns = ['Name', 'Age'])

# writing data frame to a CSV file
df.to_csv('people.csv')

In [17]:
import pandas as pd
pd.read_csv("people.csv")

   Unnamed: 0  Name  Age
0           0  Jack   24
1           1  Rose   22

**How to read a csv file**

In [32]:
import csv

with open('people.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['', 'Name', 'Age']
['0', 'Jack', '24']
['1', 'Rose', '22']

We import the csv module.
We open the CSV file people.csv in read mode ('r') using the with statement, which ensures the file is properly closed when we're done with it.
We create a csv.reader object, passing the file object to it.
We iterate over each row in the CSV file using a for loop.
We print each row, which is a list of values.

**Customizing the reader**: Sometimes, your CSV file might use a different delimiter, such as a tab (\t) or a pipe (|). <br> You can specify the delimiter using the delimiter parameter:

reader = csv.reader(file, delimiter='\t')

You can also remove initial whitespace from each value by setting **skipinitialspace** to True:

reader = csv.reader(file, skipinitialspace=True)

Using dialects If you're working with multiple CSV files that have similar formats, you can define a dialect to simplify the process. <br> A dialect is a set of formatting patterns, such as delimiter, quoting, and escape characters. <br>

You can register a dialect using the **csv.register_dialect** function

csv.register_dialect('myDialect', delimiter='|', skipinitialspace=True, quoting=csv.QUOTE_ALL)

reader = csv.reader(file, dialect='myDialect') #when creating an object

**How to write a CSV file in Python?**

In [42]:
import csv

with open('new.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Member", "Name", "Contribution"])
    writer.writerow([1, "Linni", "backend"])
    writer.writerow([2, "Tim", "frondend"])
    writer.writerow([3, "Guido", "vessel performance"])

We import the csv module.
We open the CSV file innovators.csv in write mode ('w') using the with statement, which ensures the file is properly closed when we're done with it. We also specify newline='' to avoid extra newlines.
We create a csv.writer object, passing the file object to it.
We use the writerow method to write each row to the CSV file.

**Writing multiple rows at once**: Instead of writing each row individually, we can use the **writerows** method to write multiple rows at once

In [45]:
data = [["Member", "Name", "Contribution"],
        [1, "Linni", "backend"],
        [2, "Tim", "frontend"],
        [3, "Guido", "analytics"]]

with open('new2.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

**Customizing the writer**: Sometimes, you might want to customize the writer to use a different delimiter, quoting, or escape characters. <br> You can do this by creating a csv. <br> Dialect object and passing it to the writer constructor:

In [51]:
dialect = csv.excel_tab
with open('new.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Member", "Name", "Contribution"])
    writer.writerow([1, "Linni", "backend"])
    writer.writerow([2, "Tim", "frondend"])
    writer.writerow([3, "Guido", "vessel performance"])

In [67]:
import pandas as pd
pd.read_csv("new2.csv")

   Member   Name Contribution
0       1  Linni      backend
1       2    Tim     frontend
2       3  Guido    analytics