# Python datetime

A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

### datetime module

In [13]:
import datetime

print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

In [10]:
import datetime

now = datetime.datetime.now()
print(now)

2024-07-25 16:22:52.633616

In [22]:
import datetime
x = datetime.date.today()
y = date.today()
print(x)
print(y)

2024-07-26
2024-07-26

In [15]:
import datetime
x = time.localtime()
print(x)

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=26, tm_hour=11, tm_min=17, tm_sec=52, tm_wday=4, tm_yday=208, tm_isdst=0)

**Extracting Information from a datetime Object**

In [41]:
import datetime
now = datetime.datetime.now()
print(now)

# Year
print(now.year)

# Month
print(now.month)

# Day
print(now.day)

# Hour
print(now.hour)

# Minute
print(now.minute)

# Second
print(now.second)

# Microsecond
print(now.microsecond)

2024-07-26 10:14:31.031828
2024
7
26
10
14
31
31828

In [26]:
from datetime import date
today = date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2024
Current month: 7
Current day: 26

**datetime.time class**

In [29]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print(a)

# time(hour, minute and second)
b = time(11, 34, 56)
print(b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print(c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print(d)

00:00:00
11:34:56
11:34:56
11:34:56.234566

In [31]:
from datetime import time

a = time(11, 34, 56)

print("Hour =", a.hour)
print("Minute =", a.minute)
print("Second =", a.second)
print("Microsecond =", a.microsecond)

Hour = 11
Minute = 34
Second = 56
Microsecond = 0

In [33]:
from datetime import datetime

# datetime(year, month, day)
a = datetime(2022, 12, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2022, 12, 28, 23, 55, 59, 342380)
print(b)

2022-12-28 00:00:00
2022-12-28 23:55:59.342380

In [35]:
from datetime import datetime

a = datetime(2022, 12, 28, 23, 55, 59, 342380)

print("Year =", a.year)
print("Month =", a.month)
print("Hour =", a.hour)
print("Minute =", a.minute)
print("Timestamp =", a.timestamp())

Year = 2022
Month = 12
Hour = 23
Minute = 55
Timestamp = 1672251959.34238

**datetime.timedelta class**

In [38]:
from datetime import datetime, date

# using date()
t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)

t3 = t1 - t2

print("t3 =", t3)

# using datetime()
t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("Type of t3 =", type(t3)) 
print("Type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
Type of t3 = <class 'datetime.timedelta'>
Type of t6 = <class 'datetime.timedelta'>

In [40]:
#difference between two timedelta
from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)

t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [42]:
#timeduration in seconds
from datetime import timedelta

t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("Total seconds =", t.total_seconds())

Total seconds = 435633.233423

**To get the week number of the year**

In [62]:
import datetime
now = datetime.datetime.now()

print(now.isocalendar())
print(now.isocalendar()[0])
print(now.isocalendar()[1])
print(now.isocalendar()[2])

datetime.IsoCalendarDate(year=2024, week=30, weekday=5)
2024
30
5

**To get the day of the year**

In [71]:
import datetime
now = datetime.datetime.now()

print(now.timetuple())
print(now.timetuple().tm_yday)

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=26, tm_hour=10, tm_min=20, tm_sec=13, tm_wday=4, tm_yday=208, tm_isdst=-1)
208

**Date object to represent a date**

In [17]:
import datetime

d = datetime.date(2022, 12, 25)
print(d)

2022-12-25

In [20]:
#import only date from datetime module
from datetime import date

d = date(2022, 12, 25)
print(d)

2022-12-25

**Formatting Dates and Times (strftime())**

In [76]:
import datetime
now = datetime.datetime.now()

formatted_date = now.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_date)

2024-07-26 10:20:13

Common format codes:

%Y: Year (e.g., 2024)
%m: Month (01-12)
%d: Day of the month (01-31)
%H: Hour (00-23)
%M: Minute (00-59)
%S: Second (00-59)

In [35]:
import datetime
now = datetime.datetime.now()

print(now.year)
print(now.strftime("%A"))

2024
Friday

In [6]:
#yoou can create date objects using date class
import datetime

d = datetime.date(2022, 12, 25)
print(d)

2022-12-25

In [12]:
#Additionally, you can use the strftime method to format date and time objects into strings
from datetime import datetime

now = datetime.now()
t = now.strftime("%H:%M:%S")
print("Time:", t)

Time: 16:23:26

In [44]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("Time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

Time: 11:24:51
s1: 07/26/2024, 11:24:51
s2: 26/07/2024, 11:24:51

**Parsing Strings to datetime Objects (strptime())** <br> The strptime() function is used to create datetime objects from strings

In [14]:
#you can use the strptime method to parse strings into date and time objects
from datetime import datetime

date_string = "25 December, 2022"
date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_object = 2022-12-25 00:00:00

In [80]:
date_1 = "2024-07-26 14:30:45"
new_date = datetime.datetime.strptime(date_1, "%Y-%m-%d %H:%M:%S")
print(new_date)

2024-07-26 14:30:45

In [46]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("Time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

Time: 11:25:14
s1: 07/26/2024, 11:25:14
s2: 26/07/2024, 11:25:14

**Handling Timezone**

### Timestamps and datetime

**Getting a Timestamp** <br> To get the current timestamp (seconds since the epoch):

In [84]:
import time
current_timestamp = time.time()
print(current_timestamp)

1721969872.732629

In [24]:
from datetime import date

timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11

**Converting Timestamp to datetime**

In [90]:
datetime_obj = datetime.datetime.fromtimestamp(current_timestamp)
print(datetime_obj)

2024-07-26 10:27:52.732629

**Converting datetime to Timestamp**

In [94]:
timestamp = datetime_obj.timestamp()
print(timestamp)

1721969872.732629

### Time module
The time module provides various time-related functions

**sleep() method in Python** <br>
is used to suspend the execution of a program for a specified number of seconds

In [17]:
import time

time.sleep(2)
print("Wait until 2 seconds.")

Wait until 2 seconds.

**Syntax for sleep method: time.sleep(seconds)**

In [22]:
import time

print("Printed immediately.")
time.sleep(2.4)
print("Printed after 2.4 seconds.")

Printed immediately.
Printed after 2.4 seconds.

In [ ]:
# sleep() to create a digital clock that updates every second:

**Getting the current time**

In [1]:
import time
print(time.localtime())

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=26, tm_hour=11, tm_min=11, tm_sec=23, tm_wday=4, tm_yday=208, tm_isdst=0)

In [104]:
print(f"Year: {current_time.tm_year}")
print(f"Month: {current_time.tm_mon}")
print(f"Day: {current_time.tm_mday}")

Year: 2024
Month: 7
Day: 26